<div class="container" *ngIf="watchDetail">
  <div class="row">
    <div class="col-8" *ngIf="mainPhoto">
      <img src="{{mainPhoto.url || './assets/NoWatch.png'}}"
           app-Image-fallback
           alt="{{watchDetail.brand + ' ' + watchDetail.reference}}">
    </div>
    <div class="col-4">
      <h3>{{ watchDetail.brand + " " + watchDetail.name + " "  + watchDetail.reference}}</h3>
      <h5><a>Reviews </a>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </h5>
      <hr>
      <h3>{{"Price: " + (watchDetail.price | currency: 'USD') }}</h3>
      <h3>{{"Stock: " + (watchDetail.stock) }}</h3>
      <div class="d-grid gap-2 d-md-block mt-4">
        <button type="button" class="btn btn-success btn-lg col-8 me-4">Add To Cart</button>
        <button type="button" class="btn btn-danger btn-lg col-2">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div id="specifications">
    <h2>Specifications</h2>
    <accordion [isAnimated]="true">
      <accordion-group heading="Movement">
        <p>{{"Calibre: " + watchDetail.calibre}}</p>
        <p>{{"Movement Type: " + watchDetail.movementType}}</p>
        <p>{{"Power Reserve: " + watchDetail.powerReserve + " Hours"}}</p>
      </accordion-group>
      <accordion-group heading="Exterior">
        <p>{{"Dial Colour: " + watchDetail.dial}}</p>
        <p>{{"Crystal Type: " + watchDetail.crystal}}</p>
        <p>{{"Lume: " + (watchDetail.lume ? 'Yes' : 'No')}}</p>
        <p>{{"Case Material: " + watchDetail.caseMaterial}}</p>
        <p>{{"Strap/Bracelet: " + watchDetail.strapBraceletMaterial}}</p>
        <p>{{"Case Diameter: " + watchDetail.diameter + "mm"}}</p>
        <p>{{"Case Thickness: " + watchDetail.thickness + "mm"}}</p>
        <p>{{"Case Length: " + watchDetail.length + "mm"}}</p>
        <p>{{"Case LugWidth: " + watchDetail.lugWidth + "mm"}}</p>
      </accordion-group>
      <accordion-group heading="Other Specifications">
        <p>{{"Water Resistance: " + watchDetail.waterResistance + "bar"}}</p>
        <p>{{"Other Specifications: " + watchDetail.otherSpecifications}}</p>
      </accordion-group>
    </accordion>
  </div>
</div>

