/*img {*/
/*  object-fit: cover;*/
/*  height: 100%; !* Adjust the height as needed *!*/
/*  width: 100%; !* Make sure the image takes the full width of the card *!*/
/*}*/

h2 {
  text-align: center;
  padding-bottom: 20px;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-photo img {
  max-width: 100%;
  height: auto;
}

.stock-indicator {
  color: red;
  animation: glow 5s infinite;
}

@keyframes glow {
  to {
    text-shadow: 0 0 1px red;
  }
}

.a1 {
  text-decoration: none;
  color: red;
}

#specifications, #description {
  margin: 50px;
}
