<div class="container">
  <div class="row gx-lg-5" *ngIf="items">
    <div class="col-lg-9">
      <h1>Shopping Cart</h1>
      <hr/>
      <div class="row" *ngFor="let item of items">
        <div class="col-lg-4 main-photo">
          <a routerLink="{{'/watch/' +  item.id}}">
            <img class="mx-auto d-block" src="{{item.photoUrl}}" alt="come back to add watch name">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="text-decoration-none text-body" routerLink="{{'/watch/' +  item.id}}">
            <h5 >{{ item.brand + " " + item.name + " " + item.reference }}</h5>
          </a>
          <h6 class="stock-indicator mb-4" *ngIf="item.stock > 1 && item.stock <= 5">Less Than Five Remaining</h6>
          <h6 class="stock-indicator mb-4" *ngIf="item.stock == 1">Last One Available</h6>
          <h6>{{ "Color: " + item.dial }}</h6>
          <div class="dropdown" dropdown>
            <button type="button" class="btn btn-secondary dropdown-toggle me-2 mt-lg-2" dropdownToggle>
              {{"Qty: " + calculateItemCount(item.id)}}
            </button>
            <ul class="dropdown-menu" *dropdownMenu>
              <li *ngFor="let qty of createRange(item.stock)">
                <a class="dropdown-item">{{ qty }}</a>
              </li>
            </ul>
            <button type="button" class="btn btn-danger mt-lg-2" (click)="removeAllOccurrencesFromCart(item.id)">
              Delete
            </button>
          </div>
        </div>
        <div class="col-lg-2 text-end">
          <h5>{{ item.price | currency: "USD" }}</h5>
        </div>
        <hr/>
      </div>
      <div>
        <h4 class="text-end d-none d-lg-block">{{ "Subtotal (" + itemIds.length + " items): " + (totalPrice | currency: "USD") }}</h4>
      </div>
    </div>
    <div class="col-lg-3">
      <h4>{{ "Subtotal (" + itemIds.length + " items): " + (totalPrice | currency: "USD") }}</h4>
      <button type="button" class="btn btn-success mt-lg-2">Proceed To Checkout</button>
    </div>
  </div>
</div>


