<div class="container" *ngIf="items.length > 0">
  <div class="row gx-lg-5" >
    <div class="col-lg-9">
      <h1>Shopping Cart</h1>
      <hr/>
      <div class="row" *ngFor="let item of items">
        <div class="col-lg-4 main-photo">
          <a routerLink="{{'/watch/' +  item.id}}">
            <img class="mx-auto d-block" [ngClass]="{ 'out-of-stock': item?.stock == 0 }" src="{{item.photoUrl}}" alt="come back to add watch name">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="text-decoration-none text-body" routerLink="{{'/watch/' +  item.id}}">
            <h5 >{{ item.brand + " " + item.name + " " + item.reference }}</h5>
          </a>
          <h6 class="stock-indicator mb-4" *ngIf="item.stock > 1 && item.stock <= 5">Less Than Five Remaining</h6>
          <h6 class="stock-indicator mb-4" *ngIf="item.stock == 1">Last One Available</h6>
          <h6 class="stock-indicator mb-4" *ngIf="item.stock == 0">Please Remove Item From Cart By Clicking Delete</h6>
          <h6>{{ "Color: " + item.dial }}</h6>
          <div class="dropdown" dropdown>
            <button *ngIf="item.stock > 0" type="button" class="btn btn-secondary dropdown-toggle me-2 mt-lg-2" dropdownToggle>
              {{"Qty: " + calculateItemCount(item.id)}}
            </button>
            <button *ngIf="item.stock == 0" [disabled]="item.stock == 0" type="button" class="btn btn-secondary me-2 mt-lg-2">
              Out Of Stock
            </button>
            <ul class="dropdown-menu" *dropdownMenu>
              <li *ngFor="let qty of createRange(item.stock)">
                <a class="dropdown-item" (click)="updateItemQuantity(item.id,qty,item.stock)">{{ qty }}</a>
              </li>
            </ul>
            <button type="button" class="btn btn-danger mt-lg-2" (click)="removeAllOccurrencesFromCart(item.id)">
              Delete
            </button>
          </div>
        </div>
        <div class="col-lg-2 text-end">
          <h5>{{ item.price | currency: "USD" }}</h5>
        </div>
        <hr/>
      </div>
      <div>
        <h4 class="text-end d-none d-lg-block">{{ "Subtotal (" + itemIds.length + " " + itemLabel + "): " + (totalPrice | currency: "USD") }}</h4>
      </div>
    </div>
    <div class="col-lg-3">
      <h4>{{ "Subtotal (" + itemIds.length + " " + itemLabel + "): " + (totalPrice | currency: "USD") }}</h4>
      <!--TODO add check (One way blinding to component T/F) if the stock == 0 then Proceed To Checkout won't work until all watch with stock == 0 is deleted      -->
      <!--TODO Maybe button that removes all the watches from the watch items and itemsIDArray     -->
      <button type="button" class="btn btn-success mt-lg-2">Proceed To Checkout</button>
    </div>
  </div>
</div>

<div class="container" *ngIf="items.length == 0">
  <h1>Your Shopping Cart Is Empty</h1>
  <p class="mb-0">Your shopping cart lives to serve. Give it purpose – fill it with watches.</p>
  <p class="mt-0">Continue shopping on the <a routerLink="/">JDM Homepage</a>, or check out our latest watches <a routerLink="/watches/all">Here</a></p>
</div>


