html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 56px); /* Full viewport height minus navbar */
}

app-footer {
  margin-top: auto; /* Pushes the footer down */
}
