/*.card-img-top {*/
/*  width: 100%;*/
/*  height: 50vh;*/
/*  object-fit: contain;*/
/*}*/

.card-img-top {
  object-fit: cover;
  height: 400px; /* Adjust the height as needed */
  width: 100%; /* Make sure the image takes the full width of the card */
}

.clickable-card {
  cursor: pointer;
}
