<div class="card" style="width: 18rem;" *ngIf="watchCard">
  <img class="card-img-top"
       src="{{watchCard.photoUrl || './assets/NoWatch.png'}}"
       alt="{{watchCard.brand + ' ' + watchCard.reference}}"
       onerror="src='./assets/NoWatch.png';">
  <div class="card-body">
    <h5 class="card-title">{{ watchCard.id }}: {{ watchCard.brand }} {{ watchCard.reference }}</h5>
    <p class="card-text">Price: {{ watchCard.price | currency: 'USD' }}
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
