<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">JDM Watches</a>
    <ul class="navbar-nav nav-underline me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link d-none d-lg-block" routerLink="/watches/no-filter/all" routerLinkActive="active">All Watches</a>
      </li>
      <li class="nav-item dropdown d-none d-lg-block" dropdown>
        <a class="nav-link dropdown-toggle text-decoration-none ms-2" dropdownToggle>Brands</a>
        <ul class="dropdown-menu" *dropdownMenu>
          <li *ngFor="let brand of brands$ | async">
            <a class="dropdown-item" routerLink="/watches/brand/{{brand.name}}" routerLinkActive="active">{{ brand.name }}</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown d-none d-xl-block" dropdown>
        <a class="nav-link dropdown-toggle text-decoration-none ms-2" dropdownToggle>Categories</a>
        <ul class="dropdown-menu" *dropdownMenu>
          <li *ngFor="let category of categories$ | async">
            <a class="dropdown-item" routerLink="/watches/category/{{category.type}}" routerLinkActive="active">{{ category.type }}</a>
          </li>
        </ul>
      </li>
      <li *appHasRole="['Admin']" class="nav-item">
        <a class="nav-link d-none d-lg-block" routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>
    </ul>
    <div class="d-flex nav-item dropdown" dropdown>
      <button class="btn btn-outline-success dropdown-toggle me-2" dropdownToggle><i class="fa fa-user"></i> {{username()}} Account</button>
      <ul class="dropdown-menu" *dropdownMenu>
        <li *ngFor="let item of accountDropDowns">
          <a *ngIf="item === 'Sign Out'" class="dropdown-item" (click)="logout()">{{ item }}</a>
          <a *ngIf="item !== 'Sign Out'" class="dropdown-item" [routerLink]="getRouterLink(item)">{{ item }}</a>
        </li>
      </ul>
      <button class="btn btn-outline-danger position-relative" routerLink="/cart">
        <i class="fa fa-shopping-cart"></i>
        <span *ngIf="itemsInCart > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-danger">
          {{ itemsInCart }}
        </span>
        Cart
      </button>
    </div>
  </div>
</nav>
