<div class="container" *ngIf="order">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>Order Confirmation</h1>
      <hr>
      <div class="row">
        <div class="col-6">
          <h5>Order # {{ order.id }}</h5>
          <h5>Order Placed: {{ order.dataTime }}</h5>
          <h5>Order Status: {{ order.statusType }}</h5>
        </div>
        <div class="col-6">
          <h5>Dispatched To:</h5>
          <h5>{{ order.customerDetail.firstName }} {{ order.customerDetail.surname }}</h5>
          <h5>{{ order.customerDetail.address }}</h5>
          <h5>{{ order.customerDetail.country }}</h5>
          <h5>{{ order.customerDetail.zipCode }}</h5>
        </div>
      </div>
      <hr>
      <div *ngIf="items">
      <div class="row" *ngFor="let item of items">
        <div class="col-6 main-photo">
          <img class="mx-auto d-block" src="{{item.photoUrl}}"
               alt='{{item.brand + " " + item.name + " " + item.reference}}'>
        </div>
        <div class="col-6">
          <h6>{{ item.brand + " " + item.name + " " + item.reference }}</h6>
          <h6>{{ "Price: " + (item.price | currency: "USD") }}</h6>
          <h6>{{ "Color: " + item.dial }}</h6>
          <h6> {{ "Qty: "  }}</h6>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
