<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="text-center"><a class="navbar-brand" routerLink="/" routerLinkActive="active">JDM Watches</a></h1>
      <br>
      <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex flex-column" autocomplete="off">
        <input name="username" [(ngModel)]="model.username" class="form-control me-2 mb-2" placeholder="Username">
        <input name="password" [(ngModel)]="model.password"class="form-control me-2 mb-2" placeholder="Password" type="password">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
  </div>

</div>
